{% extends 'base.html.twig' %}


{% block body %}
<div class="form d-flex mb-2">
        {{ form_start(user_form) }}
            {{ form_rest(user_form) }}
            <button type="submit" class="btn btn-primary m-3">Inscription</button>
            <div>
            <a href="/login" class="btn btn-link">Vous avez déjà un compte? Connectez-vous!</a>
            </div>
    </div>
</div>

{% endblock %}
